.root{
    -fx-font-size: 12px;
    -fx-font-family: "Courier New";
    -fx-alignment: center;

}

.BorderPane{
    -fx-min-height: "720" ;
    -fx-min-width: "1280";
}
/* Top Pane */
.LoginAnchor{
    -fx-min-height: 80px;
    -fx-max-height: 80px;
    -fx-font-style: inherit;
}
#login{
    -fx-min-height: 30px;
}
#login:hover{
    -fx-background-color: cornflowerblue;
}
#customerID{
    -fx-min-height: 30px;
}
#customerLabel{
    -fx-min-height: 30px;
}
#showID {
    -fx-font-size: 16px;
    -fx-min-height: 30px;
}

.PickInfo{
    -fx-min-height: 80px;
    -fx-max-height: 80px;
    -fx-pref-height: 30px;
    -fx-pref-width: 180px;
    -fx-font-size: 12px;
}

/*
    Center Pane

 */
.CenterPane {
    -fx-max-height: 450px;
    -fx-max-width: 884px;
}


/*
    Left Pane
 */

.LeftPane {
    -fx-pref-width: 300px;
    -fx-pref-height: 400px;

}
#leftTopPane{
    -fx-pref-width: 300px;
    -fx-alignment: center;
}
#newOrder{
    -fx-pref-width: 100px;
    -fx-pref-height: 30px;
}
#newOrder:hover{
    -fx-background-color: cornflowerblue;
}
#leftBottomPane{
    -fx-min-width: 310px;
}
#tableView{
    -fx-min-width: 310px;
}
#colMovie{
    -fx-alignment: center-left;
    -fx-pref-width: 150px;
}
#colDate{
    -fx-min-width: 70px;
}
#colTime{

}

/*
    Bottom Pane


 */
.BottomePane {
    -fx-pref-height: 100px;
    -fx-pref-width: 200px;
}
#saveOrder{
    -fx-pref-height: 50px;
    -fx-pref-width: 100px;
}
#saveOrder:hover{
    -fx-pref-width: 110px;
    -fx-pref-height: 60px;
    -fx-background-color: forestgreen;
}
#deleteOrder{
    -fx-pref-height: 50px;
    -fx-pref-width: 100px;
}
#deleteOrder:hover{
    -fx-pref-width: 110px;
    -fx-pref-height: 60px;
    -fx-background-color: red;
}
