.root{
    -fx-font-size: 14px;
    -fx-font-family: "Courier New";
    -fx-alignment: center;
}
.BorderPane{
    -fx-min-height: "720" ;
    -fx-min-width: "1280";
}
.input {
    -fx-min-height: 45px;
    -fx-pref-width: 180px;
}
/* Top Pane */
.TopAnchor{
    -fx-min-height: 150px;
    -fx-max-height: 150px;
    -fx-font-style: inherit;
}

#findCustomer {
    -fx-pref-height: 45px;
    -fx-pref-width: 80px;
}
#customerLabel{
    -fx-min-height: 30px;
}
#showCurrentUser{
    -fx-min-height: 30px;
}
#newOrder{
    -fx-min-width: 100px;
    -fx-min-height: 45px;
}
#newOrder:hover{
    -fx-background-color: cornflowerblue;
}
#tableView{
    -fx-min-width: 500px;
    -fx-max-width: 500px;
    -fx-min-height: 120px;
    -fx-max-height: 120px;
}
#colMovie{
    -fx-alignment: center-left;
    -fx-pref-width: 250px;
}
#colDate{
    -fx-alignment: center;
    -fx-pref-width: 110px;
}
#colTime{
    -fx-alignment: center;
    -fx-pref-width: 80px;
}
#colRoom{
    -fx-alignment: center;
    -fx-pref-width: 50px;
}

/*
    Center Pane
 */
.CenterPane {
    -fx-max-height: 450px;
    -fx-max-width: 884px;
    -fx-background-color: lightgray;
}

#seat_group {
    -fx-max-width: 300px;
    -fx-max-height: 300px;
}
/*
    Left Pane
 */
.LeftPane {
    -fx-min-width: 200px;
    -fx-min-height: 400px;
    -fx-max-height: 500px;
}
.PickInfo{
    -fx-min-height: 80px;
    -fx-max-height: 80px;
}

/*
    Bottom Pane
 */
.BottomPane {
    -fx-min-height: 100px;
    -fx-min-width: 200px;
}
#saveOrder{
    -fx-min-height: 50px;
    -fx-min-width: 100px;
}
#saveOrder:hover{
    -fx-background-color: forestgreen;
}
#deleteOrder{
    -fx-min-height: 50px;
    -fx-min-width: 100px;
}
#deleteOrder:hover{
    -fx-background-color: red;
}

